body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Trebuchet MS;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

/* name, description and logo*/

.header {
  text-align: right;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 3%;
  border-bottom: 5px solid;
  border-color: #7d97ad;
  width: 90%;
}

.trainer-logo {
  max-width: 13%;
  width: 15%;
  float: left;
  margin-left: 5%;
}

.portfolio_title {
  font-size: 50px;
  font-family: Trebuchet MS
  padding-right: 3%;
}

.portfolio_description {
  padding-right: 3%;
}

/*information about me and headshot*/

.aboutMe {
  width: 100%;

}

#headshot {
  width: 20%;
  border-radius: 20%;
  float: right;
  margin-top: auto;
  margin-right: 10%;
}

.info {
  margin-left: 5%;
  margin-top: 5%;
  max-width: 60%;
  font-size: 18px;
  padding-left: 3%;
  line-height: 1.5;
  padding-top: 3%;
}

/*links to projects done with images*/

.work {
  margin-top: 5%;
}

.featured-work {
  margin-left: 10%;
  text-decoration: underline;
  font-size: 40px;
  color: #2d3c49;
}

.flex-container {
  width: 90%;
}

.work-logo {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;

}

.caption {
  display: inline-grid;
  
}

#codepen {
  width: 30%;
  border: 5px solid;
  border-color: #2d3c49;
  order: 0;
  caption-side: bottom;
}

#udacity {
  width: 30%;
  margin-top: 2%;
  margin-left: 2%;
  order: 1;
}

#freeCodeCamp {
  width: 30%;
  margin-top: 2%;
  margin-left: 1%;
  order: 2;
}
